<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReceivablesFile" value="D:\Miziak\april\receivables.csv"/>
    <add key="PayablesFile" value="D:\Miziak\april\payables.csv"/>
    <add key="DetailsFile" value="D:\Miziak\april\details.csv"/>
    <add key="ReportFile" value="D:\Miziak\april\output.csv"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
