<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReceivablesFile" value="C:\Sources\Miziak\october\receivables.csv"/>
    <add key="PayablesFile" value="C:\Sources\Miziak\october\payables.csv"/>
    <add key="DetailsFile" value="C:\Sources\Miziak\october\details.csv"/>
    <add key="ReportFile" value="C:\Sources\Miziak\october\output.csv"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
